
#button {
    border-radius: 40px;
}




#banner-text {
    margin-top: 16px;         /* banner css for margin-items to align center*/
}


#background-img {
    background: url('../assets/hero.jpg');


}